<h1>Edit Discussion</h1>

<%= render 'form' %>

<%= link_to 'Show', @discussion %> |
<%= link_to 'Back', discussions_path %>
<%= link_to 'Destroy', @discussion, method: :delete, data: { confirm: 'Are you sure?' } %>

