/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require fullcalendar.print
 
 */

 .navbarlogo {
  width: 63px;
  margin-top: -19px;
  margin-bottom: -6px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 130px;
    height: 55px;
    padding-top: 0;
}


html, body {
  width: auto !important;
  overflow-x: hidden !important;
}


a:hover .frontimage {
  
  color: transparent;
  
border: none !important;
display: block;
margin-left: 15%;
margin-right: 15%;
 
}

a:hover .frontimageproject {
  
  color: transparent;
  
border: none !important;
display: block;
margin-left: 22.5%;
margin-right: 22.5%;
 
}

/*body {
	background-color: #F0F0F1 !important;
}
*/

.a {
    color: inherit;
}

a {
  
  text-decoration: none !important;
}

.highlight {
  background: #fec7ce;
}

.container > a {
  background-color: transparent !important;
  text-decoration: none !important;
}

.list-user {
  background-color: transparent !important;
  text-decoration: none !important;
}
